
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Fixed Top Navbar Example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{{static_url('css/bootstrap.css')}}" rel="stylesheet">
	<link href="{{static_url('css/custom.css')}}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{static_url('css/navbar.css')}}" rel="stylesheet">
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-fixed-top navbar-inverse off">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Project name</a>
        <div class="nav-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="nav-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav pull-right">
            <li><a href="/examples/navbar/">Default</a></li>
            <li><a href="/examples/navbar-static-top/">Static top</a></li>
            <li class="active"><a href="/examples/navbar-fixed-top/">Fixed top</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    
    <section id="intro" data-speed="2" data-type="background" style="overflow: hidden;">
    	<!--img data-speed="4" data-type="foreground" src="{{static_url('img/bus_monochrome.png')}}" style="position:absolute;height: 500px; bottom: 30px; right: 0; z-index: 1;" /-->
    	<div class="container" style="position: relative; z-index: 2;">
    		<h1 style="font-size: 64pt;">Sober Steering</h1>
    		<h2>Technology to prevent drunk driving.</h2>
    		<p>
			  <button type="button" class="btn btn-primary btn-large learn-more">Learn More</button>
			</p>
    	</div>
    </section>

    <!-- Main component for a primary marketing message or call to action -->
    <div id="map" class="map">
        <h1>Map Goes Here!</h1>
        <p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>
          <a class="btn btn-large btn-primary" href="../../docs/#navbar">View navbar docs &raquo;</a>
        </p>
        
    </div>

    
	<div class="container marketing">
      <!-- START THE FEATURETTES -->

      
      <div class="featurette">
        <img class="featurette-image img-circle pull-left" alt="512x512" src="{{static_url('img/bus.jpg')}}" style="width: 175px; height: 175px;">		
        <h2 class="featurette-heading">Bus One, <span class="text-muted">Toronto District</span></h2>
        <p class="lead">Last reported at <span class="strong">5:13 pm</span> with a speed of <span class="strong">36 km/h</span>.<br />The driver was last tested at <span class="strong">5:00 pm</span> and is <span class="strong">sober</span>.</p>
      </div>
      
      <div class="featurette right">
        <img class="featurette-image img-circle" alt="512x512" src="{{static_url('img/bus.jpg')}}" style="width: 175px; height: 175px;">		
        <h2 class="featurette-heading">Bus Two, <span class="text-muted">York Region District</span></h2>
        <p class="lead">Last reported at <span class="strong">5:13 pm</span> with a speed of <span class="strong" style="color: red;">134 km/h</span>.<br />The driver was last tested at <span class="strong">5:00 pm</span> and is <span class="strong" style="color: red;">over the limit</span>.</p>
      </div>

      <div class="featurette">
        <img class="featurette-image img-circle pull-left" alt="512x512" src="{{static_url('img/bus.jpg')}}" style="width: 175px; height: 175px;">		
        <h2 class="featurette-heading">Bus Three, <span class="text-muted">Waterloo Region District</span></h2>
        <p class="lead">Last reported at <span class="strong">5:13 pm</span> with a speed of <span class="strong">36 km/h</span>.<br />The driver was last tested at <span class="strong">5:00 pm</span> and is <span class="strong">sober</span>.</p>
      </div>
      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>    
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0Tkk9Gd8ploPqjDWEV1-hupHmKT68f0M&sensor=false"></script>
	<script src="{{static_url('js/bootstrap.js')}}"></script>
    <script src="{{static_url('js/holder.js')}}"></script>
    <script type="text/javascript">
	$(document).ready(function(){
	   	// cache the window object
	   	$window = $(window);
	   
	   $('section[data-type="background"]').each(function(){
	     // declare the variable to affect the defined data-type
	     var $scroll = $(this);
	                     
	      $(window).scroll(function() {
	        // HTML5 proves useful for helping with creating JS functions!
	        // also, negative value because we're scrolling upwards                             
	        var yPos = -($window.scrollTop() / $scroll.data('speed')); 
	         
	        // background position
	        var coords = '50% '+ yPos + 'px';
	 
	        // move the background
	        $scroll.css({ backgroundPosition: coords });    
	      }); // end window scroll
	   });  // end section function
	   
	   $('[data-type="foreground"]').each(function(){
	     // declare the variable to affect the defined data-type
	     var $scroll = $(this);
	                     
	      $(window).scroll(function() {
	        // HTML5 proves useful for helping with creating JS functions!
	        // also, negative value because we're scrolling upwards                             
	        var yPos = -($window.scrollTop() / $scroll.data('speed')); 
	         
	        // bottom position
	        var pos = 30 + yPos;
	        var coords = pos + 'px';
	 
	        // move the background
	        $scroll.css({ bottom: coords });    
	      }); // end window scroll
	   });  // end section function
	   
	   //MAP Styling Custom
	   var styles = [ { "featureType": "landscape", "stylers": [ { "color": "#dddddd" }, { "visibility": "simplified" }, { "saturation": 1 }, 

{ "lightness": 45 } ] },{ "featureType": "road", "elementType": "geometry", "stylers": [ { "visibility": "simplified" }, { 

"color": "#ffffff" } ] },{ "featureType": "road", "elementType": "labels.text", "stylers": [ { "visibility": "on" } ] },{ 

"featureType": "poi", "elementType": "geometry", "stylers": [ { "visibility": "off" } ] },{ "featureType": "water", 

"stylers": [ { "color": "#c8c8c8" } ] },{ "featureType": "road.highway", "elementType": "labels", "stylers": [ { 

"visibility": "off" } ] },{ "featureType": "poi", "stylers": [ { "visibility": "off" } ] },{ "featureType": 

"road.arterial", "stylers": [ { "visibility": "off" } ] },{ "featureType": "transit", "stylers": [ { "visibility": "off" } 

] },{ "featureType": "administrative.country", "elementType": "geometry.stroke", "stylers": [ { "visibility": "simplified" 

}, { "color": "#ffffff" } ] },{ "featureType": "administrative.neighborhood", "elementType": "labels", "stylers": [ { 

"visibility": "off" } ] },{ "featureType": "landscape", "elementType": "geometry", "stylers": [ { "weight": 0.1 }, { 

"visibility": "simplified" }, { "color": "#dddddd" }, { "lightness": 45 } ] },{ "featureType": "administrative",

"elementType": "labels.text", "stylers": [ { "weight": 0.1 }, { "color": "#787878" } ] },{ "featureType": 

"administrative", "elementType": "labels.icon", "stylers": [ { "visibility": "off" } ] }];
	   
	   
	   var mapOptions = {
          center: new google.maps.LatLng(-34.397, 150.644),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          styles:styles,
          scrollwheel:false
        };
        var map = new google.maps.Map(document.getElementById("map"),
            mapOptions);
       
	   
	   
	}); // close out script
    </script>
  </body>
</html>
